.footer {
    width: 100%;   
   display: grid;
   grid-template-columns: 1fr 1fr;   
   background-color: #198754;
   .footer__pick {
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    }
    .footer__iconos {
        text-align: right;
        padding-top: 5px;
        .iconos__img {
            padding-right: 20px;
            padding-left: 20px;
        }
   }

}


