.footer{
    position: relative;
	height: 50px;
	width: 100%;
    background-color: #198754;
    .footer__pick{
        position: absolute;
        font-size: 20px;
	    font-family: sans-serif;
	    font-weight: bold;
	    margin-left: 20px;
	    margin-top: 15px;

    }      
    .footer__iconos {
        position: absolute;
        right:  50px;
        margin-top: 5px;
        .iconos__img {
           padding-left: 20px;
           padding-right: 20px;
           
        }
    }
}