.back{
	position: absolute;
	width: 100%;
	height: 69.5%;
}


.contacto{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 4.4%;
	.contacto__mensaje{
		width: 60%;
		height: 70%;
		margin-top: 10%;
		justify-self: center;
		font-weight: 600;
		font-size: 25px;
		border: 2px groove rgb(170, 130, 42);
		font-family:'Times New Roman', Times, serif;
		color: #160c01;

	}
}


.form{
	display: flex;
	flex-direction: row;
	justify-content: start;
	position: relative;
	margin-top: 5%;
	.form__borde{
		width: 40%;
		text-align: center;
		border: 2px groove rgb(170, 130, 42);
		.borde__titulo{
			font-size: 30px;
			font-weight: 600;
		}
		.borde__dato{
			font-size: 20px;
			font-weight: 500;

		}
	}
	
}

