*{
    margin: 0;
    padding: 0;
}

.mynav a:hover {
  border-bottom: 2px solid orange;
  }

  .contenedor{
    height: auto;
    width: 100%;
    background-image: url(../multimedia/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    }
