


.noticias__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr;
    position: relative;
    width: 100%;
    height: 350px;
    border-top: 1px solid black;
  }
  
  .noticias__info .info__titulo {
    padding: 10px 0 0 5px;
    text-align: center;
  }
  
  .noticias__info .info__titulo .info__titulo--cont {
    padding-top: 10px;
    font-size: 17px;
    color: #461d0b;
    text-align: start;
  }
  
  .noticias__info .info__img {
    width: 90%;
    height: 320px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 5px;
    border-radius: 10px;
  }
  
  

  @media screen and (max-width: 1715px) {
    .noticias__info {
      height: 460px;
    }
  }
  
  @media screen and (max-width: 1215px) {
    .noticias__info {
      height: 600px;
    }
  }

  @media screen and (max-width: 980px) {
    .noticias__info .info__img { 
      align-self: stretch;
      padding-top: 100px;
      height: 400px;
    }
    .noticias__info {
      height: 900px;
    }
}

@media screen and (max-width: 600px) {
  .noticias__info {
    height: 1300px;
  }
}

@media screen and (max-width: 410px) {
  .noticias__info {
    height: 1600px;
  }
}

