
.titular {
 text-align: center;
 color: darkblue;
    
}

.titular__borde{
  border-top: 1px solid black;
  margin-top: 5px;
}


.contenido{
  color: #461d0b;
  padding-left: 10px;
  padding-right: 5px;
}

.pick{
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  
}