.header {
  background-color: yellow;
  height: 100%;
  width: 100%;
}

.header .header__logo {
  display: block;
  margin: auto;
  height: 180px;
  width: auto;
}

.nav-item {
  color: white !important;
  position: relative;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.agrandar {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.agrandar:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.logo {
  width: 50%;
  margin-top: -25px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.separador {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  border-radius: 10px;
}

h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #31384A;
  color: #fff;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #198754;
}

.footer .footer__pick {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 20px;
}

.footer .footer__iconos {
  text-align: center;
}

.footer .footer__iconos .iconos__img {
  padding-right: 20px;
  padding-left: 20px;
}

#primerSeccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 550px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#94B10B), to(#23B63C));
  background-image: linear-gradient(#94B10B, #23B63C);
  border: solid 1px green;
  border-radius: 10px;
}

#primerSeccion .enlace {
  text-decoration: none;
}

#primerSeccion .enlace h1:hover {
  color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#segundaSeccion {
  height: 550px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#56DB33), to(yellow));
  background-image: linear-gradient(#56DB33, yellow);
  border: solid 1px green;
  border-radius: 10px;
}

#tercerSeccion {
  height: 550px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#DB9333), to(#CFDB33));
  background-image: linear-gradient(to top, #DB9333, #CFDB33);
  border: solid 1px green;
  border-radius: 10px;
}

#tercerSeccion .video {
  text-align: center;
  padding-top: 50px;
}

#tercerSeccion .video .youtube {
  width: 80%;
  height: 350px;
}

section h1, section h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Architects Daughter';
  color: #252525;
  text-align: center;
}

#cuartaSeccion {
  width: 100%;
  height: 300px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#AADB33), to(#33DB64));
  background-image: linear-gradient(to top, #AADB33, #33DB64);
  border: solid 1px green;
  border-radius: 10px;
}

#cuartaSeccion .mapa {
  text-align: center;
}

#cuartaSeccion .mapa iframe {
  width: 80%;
  height: 200px;
}

#quintaSeccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#CE9A55), to(#89CE55));
  background-image: linear-gradient(#CE9A55, #89CE55);
  border: solid 1px green;
  border-radius: 10px;
}

#quintaSeccion .enlace {
  text-decoration: none;
}

#quintaSeccion .enlace h3:hover {
  color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.contenedor4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  padding: 40px;
  grid-gap: 10px;
}

.fotos {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.fotos:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.titular {
  text-align: center;
  color: darkblue;
}

.titular__borde {
  border-top: 1px solid black;
  margin-top: 5px;
}

.contenido {
  color: #461d0b;
  padding-left: 10px;
  padding-right: 5px;
}

.pick {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.tienda {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: brown;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.producto {
  margin: 20px;
  height: 320px;
  border: solid 1px #008000;
  border-radius: 10px;
}

.producto .producto__texto {
  text-align: center;
  color: #0056d6;
  font-weight: bold;
}

.producto .producto__fruto {
  display: block;
  margin: auto;
}

.producto .producto__precio {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.producto .producto__carrito {
  display: block;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 685px) {
  .producto__fruto {
    height: 150px;
    width: 100px;
  }
}

@media screen and (max-width: 575px) {
  .producto__fruto {
    height: 150px;
    width: 150px;
  }
}

.head {
  width: 100%;
  height: 50px;
  background-color: #dbbaba;
}

.separacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 1fr 1fr;
      grid-template-columns: 3fr 2fr 1fr 1fr;
  -ms-grid-rows: 50px 100px 100px 100px;
      grid-template-rows: 50px 100px 100px 100px;
  background-color: #98e995;
  height: 600px;
}

.separacion a {
  text-decoration: none;
  color: brown;
}

.separacion h4 {
  height: 50px;
  background-color: burlywood;
  color: white;
}

.separacion h5 {
  height: 100px;
  border-bottom: 1px gray groove;
  color: brown;
}

.head__titulo {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: brown;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

.mynav a:hover {
  border-bottom: 2px solid orange;
}

.contenedor {
  height: auto;
  width: 100%;
  background-image: url(../multimedia/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/*# sourceMappingURL=estilos.css.map */